<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DynamicControl" type="WisdomDetectionTool.DynamicControl.Models.DynamicControlModel, WisdomDetectionTool" />
  </configSections>

  <DynamicControl CheckSuccessText="1" NumberPerPage="10" IsMultiCheck="True">

    <ControlGroup Title="能源IP" Content1="*8888*91#[IP地址]" ButtonText1="设置" Content2="*8888*206#" ButtonText2="查询" Checked="True">
          <Controls>
            <Control ControlType="TextBox" Name="IP地址" Value="220.178.32.20" />
          </Controls>
    </ControlGroup>
    
    <ControlGroup Title="能源端口" Content1="*8888*96#[端口]"      ButtonText1="设置" Checked="False">
      <Controls>
        <Control ControlType="TextBox" Name="端口" Value="4007" />
      </Controls>
    </ControlGroup>

    <ControlGroup Title="车牌颜色" Content1="*8888*12#[颜色]"  ButtonText1="设置" Content2="*8888*204#" ButtonText2="查询" Checked="True">
      <Controls>
        <Control ControlType="ComboBox" Name="颜色" Value="2" Data="1:蓝色,2:黄色,3:黑色,4:白色,9:其它" />
      </Controls>
    </ControlGroup>

    <ControlGroup Title="车牌颜色" Content1="*8888*12#[颜色]"   ButtonText1="设置" Content2="*8888*204#" ButtonText2="查询" Checked="True">
          <Controls>
            <Control ControlType="ComboBox" Name="颜色" Value="2" Data="1:蓝色,2:黄色,3:黑色,4:白色,9:其它" />
          </Controls>
    </ControlGroup>

    <ControlGroup Title="能源车型" Content1="*8888*101#[车型]" ButtonText1="设置">
      <Controls>
        <Control ControlType="ComboBox" Name="车型" Value="1" Data="0:无车型,1:混合动力松正,2:混合动力绿控,3:安凯纯电动,4:安凯混动" Checked="True"/>
      </Controls>
    </ControlGroup>

    <ControlGroup Title="通讯状态" Content1="*8888*203#" ButtonText1="查询">
      <Controls>
        <Control ControlType="TextBox" Name="" Value="查询APN、ACC、电话卡状态、网络注册情况" Enable="False" />
      </Controls>
    </ControlGroup>
    
 

    <ControlGroup Title="版本信息" Content1="verwis" ButtonText1="查询">
      <Controls>
        <Control ControlType="TextBox" Name="" Value="查询版本信息" Enable="False" />
      </Controls>
    </ControlGroup>   
    
    <ControlGroup Title="网络状态" Content1="*8888*203#" ButtonText1="读取">
      <Controls>
        <Control ControlType="TextBox" Name="" Value="查询APN、ACC、电话卡状态、网络注册情况" Enable="False" />
      </Controls>
    </ControlGroup>
       
    <ControlGroup Title="通讯号" Content1="pramwt=20000001#[号码]" ButtonText1="写入" Content2="pramrd=20000001" ButtonText2="读取">
      <Controls>
        <Control ControlType="TextBox" Name="号码" Value="" />
      </Controls>
    </ControlGroup>    

    <ControlGroup Title="车牌号码" Content1="pramwt=00000083#[车牌]" ButtonText1="写入" Content2="pramrd=00000083" ButtonText2="读取">
      <Controls>
        <Control ControlType="TextBox" Name="车牌" Value="" />
      </Controls>
    </ControlGroup>
    <ControlGroup Title="车牌号码" Content1="pramwt=00000083#[车牌]" ButtonText1="写入" Content2="pramrd=00000083" ButtonText2="读取">
          <Controls>
            <Control ControlType="TextBox" Name="车牌" Value="" />
          </Controls>
     </ControlGroup>
     <ControlGroup Title="车牌号码" Content1="pramwt=00000083#[车牌]" ButtonText1="写入" Content2="pramrd=00000083" ButtonText2="读取">
           <Controls>
             <Control ControlType="TextBox" Name="车牌" Value="" />
           </Controls>
      </ControlGroup>
      <ControlGroup Title="车牌号码" Content1="pramwt=00000083#[车牌]" ButtonText1="写入" Content2="pramrd=00000083" ButtonText2="读取">
            <Controls>
              <Control ControlType="TextBox" Name="车牌" Value="" />
            </Controls>
       </ControlGroup>


    
    
  </DynamicControl>
  
</configuration>